$indigo: #6610f2; //my primary colour
$cyan: #107a8f; //custom cyan --> applied to login page

$white: #fdfdfd; //custom white
$gray-200: #dad2e8; //custom gray --> applied to input-group-text class in forms
$gray-600: #5e5e5e; //custom grey --> this is text secondary
$gray-900: #1a1a1a; //custom grey --> this is the colour of the body

$primary: $indigo;
$info: $cyan;

$font-family-base: "Poppins", sans-serif;

$font-size-sm: 0.8rem;
