@import "buttons.scss";
@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

.custom-w {
  max-width: 500px;
}

.search-custom-h {
  height: 2rem;
}

.text-small {
  font-size: $font-size-sm;
}
