$primary: #b20dfd;
// $primary: #006363;
/*007b7b*/
/*009999*/

@import "../../node_modules/bootstrap/scss/bootstrap";

.custom-w {
  max-width: 500px;
}

.btn-interaction {
  border: none;
  background-color: transparent;
}

.text-small {
  font-size: 0.8rem;
}
/* ----------  Google icons  ---------- */
/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
} */
